.card {
  position: relative;
  display: flex;
  width: 395px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #1b6e37;
  background-clip: border-box;
  border: 1px solid #1b6e37;
  border-radius: 7px;
}

.light {
  color: #ffffff;
  font-size: 11px;
}
